<!DOCTYPE html>
<html lang="en">
	<head>
		<title>UCC Pahang Hospital</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

	</head>
	<body>
		<div class="container">
      <h2>UCC Pahang Hospital monitor </h2>
      <h2>{{ x }}</h2>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Cat</th>
            <th>Occupied</th>
            <th>Capacity</th>
            <th>Bed occupancy rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>HTAA</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>ICU</td>
            <td>4 to 5</td>
            <td>{{ dict_sheet[1].get('Occupied') }}</td>
            <td>{{ dict_sheet[1].get('Capacity') }}</td>
            <td>{{ dict_sheet[1].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td>Medical</td>
            <td>1 to 4</td>
            <td>{{ dict_sheet[2].get('Occupied') }}</td>
            <td>{{ dict_sheet[2].get('Capacity') }}</td>
            <td>{{ dict_sheet[2].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>HOSHAS</td>
            <td>1 to 4</td>
            <td>{{ dict_sheet[4].get('Occupied') }}</td>
            <td>{{ dict_sheet[4].get('Capacity') }}</td>
            <td>{{ dict_sheet[4].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>H Lipis</td>
            <td>1 to 4</td>
            <td>{{ dict_sheet[6].get('Occupied') }}</td>
            <td>{{ dict_sheet[6].get('Capacity') }}</td>
            <td>{{ dict_sheet[6].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>H Bentong</td>
            <td>1 to 2</td>
            <td>{{ dict_sheet[8].get('Occupied') }}</td>
            <td>{{ dict_sheet[8].get('Capacity') }}</td>
            <td>{{ dict_sheet[8].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>H Pekan</td>
            <td>1 to 2</td>
            <td>{{ dict_sheet[10].get('Occupied') }}</td>
            <td>{{ dict_sheet[10].get('Capacity') }}</td>
            <td>{{ dict_sheet[10].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>H Raub</td>
            <td>1 to 2</td>
            <td>{{ dict_sheet[12].get('Occupied') }}</td>
            <td>{{ dict_sheet[12].get('Capacity') }}</td>
            <td>{{ dict_sheet[12].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>H Jengka</td>
            <td>1 to 2</td>
            <td>{{ dict_sheet[14].get('Occupied') }}</td>
            <td>{{ dict_sheet[14].get('Capacity') }}</td>
            <td>{{ dict_sheet[14].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>H Muadzam</td>
            <td>1 to 2</td>
            <td>{{ dict_sheet[16].get('Occupied') }}</td>
            <td>{{ dict_sheet[16].get('Capacity') }}</td>
            <td>{{ dict_sheet[16].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>UIA</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>ICU</td>
            <td>4 to 5</td>
            <td>{{ dict_sheet[19].get('Occupied') }}</td>
            <td>{{ dict_sheet[19].get('Capacity') }}</td>
            <td>{{ dict_sheet[19].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td>Ward</td>
            <td>1 to 3</td>
            <td>{{ dict_sheet[20].get('Occupied') }}</td>
            <td>{{ dict_sheet[20].get('Capacity') }}</td>
            <td>{{ dict_sheet[20].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>SUKPA</td>
            <td>1 to 2</td>
            <td>{{ dict_sheet[22].get('Occupied') }}</td>
            <td>{{ dict_sheet[22].get('Capacity') }}</td>
            <td>{{ dict_sheet[22].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>ILKKM</td>
            <td>1 to 2</td>
            <td>{{ dict_sheet[24].get('Occupied') }}</td>
            <td>{{ dict_sheet[24].get('Capacity') }}</td>
            <td>{{ dict_sheet[24].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>PKRC Penjara Bentong</td>
            <td>1 to 2</td>
            <td>{{ dict_sheet[26].get('Occupied') }}</td>
            <td>{{ dict_sheet[26].get('Capacity') }}</td>
            <td>{{ dict_sheet[26].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>COVID ICU bed</td>
            <td></td>
            <td>{{ dict_sheet[29].get('Occupied') }}</td>
            <td>{{ dict_sheet[29].get('Capacity') }}</td>
            <td>{{ dict_sheet[29].get('Bed occupancy rate') }}%</td>
          </tr>
          <tr>
            <td>COVID normal bed</td>
            <td></td>
            <td>{{ dict_sheet[30].get('Occupied') }}</td>
            <td>{{ dict_sheet[30].get('Capacity') }}</td>
            <td>{{ dict_sheet[30].get('Bed occupancy rate') }}%</td>
          </tr>
        </tbody>
        
        </div>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>