<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UCC Bed Watcher</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .red {
        height: 10px;
        width: 10px;
        background-color: #ff0000;
        border-radius: 50%;
        display: inline-block;
      }
      .orange {
        height: 10px;
        width: 10px;
        background-color: #ff8000;
        border-radius: 50%;
        display: inline-block;
      }
      .yellow {
        height: 10px;
        width: 10px;
        background-color: #fff000;
        border-radius: 50%;
        display: inline-block;
      }
      .white {
        height: 10px;
        width: 10px;
        background-color: #ffffff;
        border-radius: 50%;
        display: inline-block;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h2>UCC Pahang Bed Watcher</h2>
      <h2>{{ date_times }}</h2>

      <h3>Pahang Hospitals COVID-19 BOR {{ dict_sheet[24].get('BOR') }}%</h3>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">PKRC</a></li>
        <li><a data-toggle="tab" href="#menu1">Government</a></li>
        <li><a data-toggle="tab" href="#menu2">Private</a></li>
      </ul>

      <div class="tab-content">
        <!-- PKRC tab -->
        <div id="home" class="tab-pane fade in active">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Male</th>
                <th>Female</th>
                <th>Total</th>
                <th>BOR</th>
                <th>Last updated</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[18].get('BOR')) }}"
                  ></span>
                  SUKPA
                </td>
                <td>{{ dict_sheet[18].get('Availability_male') }}</td>
                <td>{{ dict_sheet[18].get('[18]Availability_female') }}</td>
                <td>{{ dict_sheet[18].get('Availability_total') }}</td>
                <td>{{ dict_sheet[18].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[18].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[19].get('BOR')) }}"
                  ></span>
                  ILKKM Kuantan
                </td>
                <td>{{ dict_sheet[19].get('Availability_male') }}</td>
                <td>{{ dict_sheet[19].get('Availability_female') }}</td>
                <td>{{ dict_sheet[19].get('Availability_total') }}</td>
                <td>{{ dict_sheet[19].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[19].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[20].get('BOR')) }}"
                  ></span>
                  I-KPKT
                </td>
                <td>{{ dict_sheet[20].get('Availability_male') }}</td>
                <td>{{ dict_sheet[20].get('Availability_female') }}</td>
                <td>{{ dict_sheet[20].get('Availability_total') }}</td>
                <td>{{ dict_sheet[20].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[20].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[21].get('BOR')) }}"
                  ></span>
                  HJKA(PKRC)
                </td>
                <td>{{ dict_sheet[21].get('Availability_male') }}</td>
                <td>{{ dict_sheet[21].get('Availability_female') }}</td>
                <td>{{ dict_sheet[21].get('Availability_total') }}</td>
                <td>{{ dict_sheet[21].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[21].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[22].get('BOR')) }}"
                  ></span>
                  KUIPSAS
                </td>
                <td>{{ dict_sheet[22].get('Availability_male') }}</td>
                <td>{{ dict_sheet[22].get('Availability_female') }}</td>
                <td>{{ dict_sheet[22].get('Availability_total') }}</td>
                <td>{{ dict_sheet[22].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[22].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[23].get('BOR')) }}"
                  ></span>
                  Penjara Bentong
                </td>
                <td>{{ dict_sheet[23].get('Availability_male') }}</td>
                <td>{{ dict_sheet[23].get('Availability_female') }}</td>
                <td>{{ dict_sheet[23].get('Availability_total') }}</td>
                <td>{{ dict_sheet[23].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[23].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <!-- Modal form -->
          <div
            class="modal fade"
            id="modalLoginForm"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">
                    Update Bed Status
                  </h4>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form action="/result" method="POST">
                <div class="form-group">
                <div class="modal-body mx-3">
                  <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <select class="form-control" name="pkrc">
                      <option value="" disabled selected>
                        Select your hospital
                      </option>
                      <option value="sukpa">SUKPA</option>
                      <option value="illkkm">ILLKKM</option>
                      <option value="ikpkt">I-KPKT</option>
                      <option value="hjka">HJKA</option>
                      <option value="kipsas">KIPSAS</option>
                      <option value="penjara">Penjara Bentong</option>
                    </select>
                    <br />
                  </div>
                  <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input
                      class="form-control"
                      type="number"
                      name="a_male"
                      placeholder="Male Bed Availability"
                      autocomplete="off"
                    />
                    <br />
                  </div>
                  <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input
                      class="form-control"
                      type="number"
                      name="a_female"
                      placeholder="Female Bed Availability"
                      autocomplete="off"
                    />
                    <br />
                  </div>

                  <div class="md-form mb-4">
                    <i class="fas fa-lock prefix grey-text"></i>
                    <input
                      class="form-control"
                      type="password"
                      name="passkey"
                      placeholder="passkey"
                      autocomplete="off"
                    />
                    <br />
                  </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                  <input
                    class="btn btn-block btn-success"
                    type="submit"
                    value="Submit"
                  />
                </div>
              </form>
              </div>
              </div>
            </div>
          </div>
        
          <div class="text-center">
            <a
              href=""
              class="btn btn-primary btn-rounded mb-4"
              data-toggle="modal"
              data-target="#modalLoginForm"
              >UPDATE BED STATUS</a
            >
          </div>
          <br />
        </div>

        <!-- Gov hospital tab -->
        <div id="menu1" class="tab-pane fade">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Male</th>
                <th>Female</th>
                <th>Total</th>
                <th>BOR</th>
                <th>Last updated</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[0].get('BOR')) }}"
                  ></span>
                  HTAA - ICU
                </td>
                <td>{{ dict_sheet[0].get('Availability_male') }}</td>
                <td>{{ dict_sheet[0].get('Availability_female') }}</td>
                <td>{{ dict_sheet[0].get('Availability_total') }}</td>
                <td>{{ dict_sheet[0].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[0].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[1].get('BOR')) }}"
                  ></span>
                  HTAA - General
                </td>
                <td>{{ dict_sheet[1].get('Availability_male') }}</td>
                <td>{{ dict_sheet[1].get('Availability_female') }}</td>
                <td>{{ dict_sheet[1].get('Availability_total') }}</td>
                <td>{{ dict_sheet[1].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[1].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[2].get('BOR')) }}"
                  ></span>
                  H HOSHAS
                </td>
                <td>{{ dict_sheet[2].get('Availability_male') }}</td>
                <td>{{ dict_sheet[2].get('Availability_female') }}</td>
                <td>{{ dict_sheet[2].get('Availability_total') }}</td>
                <td>{{ dict_sheet[2].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[2].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[4].get('BOR')) }}"
                  ></span>
                  H Muadzam Shah
                </td>
                <td>{{ dict_sheet[4].get('Availability_male') }}</td>
                <td>{{ dict_sheet[4].get('Availability_female') }}</td>
                <td>{{ dict_sheet[4].get('Availability_total') }}</td>
                <td>{{ dict_sheet[4].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[4].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[6].get('BOR')) }}"
                  ></span>
                  H Jengka
                </td>
                <td>{{ dict_sheet[6].get('Availability_male') }}</td>
                <td>{{ dict_sheet[6].get('Availability_female') }}</td>
                <td>{{ dict_sheet[6].get('Availability_total') }}</td>
                <td>{{ dict_sheet[6].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[6].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[8].get('BOR')) }}"
                  ></span>
                  H Kuala Lipis
                </td>
                <td>{{ dict_sheet[8].get('Availability_male') }}</td>
                <td>{{ dict_sheet[8].get('Availability_female') }}</td>
                <td>{{ dict_sheet[8].get('Availability_total') }}</td>
                <td>{{ dict_sheet[8].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[8].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[9].get('BOR')) }}"
                  ></span>
                  H Bentong
                </td>
                <td>{{ dict_sheet[9].get('Availability_male') }}</td>
                <td>{{ dict_sheet[9].get('Availability_female') }}</td>
                <td>{{ dict_sheet[9].get('Availability_total') }}</td>
                <td>{{ dict_sheet[9].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[9].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[10].get('BOR')) }}"
                  ></span>
                  H Raub
                </td>
                <td>{{ dict_sheet[10].get('Availability_male') }}</td>
                <td>{{ dict_sheet[10].get('Availability_female') }}</td>
                <td>{{ dict_sheet[10].get('Availability_total') }}</td>
                <td>{{ dict_sheet[10].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[10].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[11].get('BOR')) }}"
                  ></span>
                  HJKA
                </td>
                <td>{{ dict_sheet[11].get('Availability_male') }}</td>
                <td>{{ dict_sheet[11].get('Availability_female') }}</td>
                <td>{{ dict_sheet[11].get('Availability_total') }}</td>
                <td>{{ dict_sheet[11].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[11].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Private hospital tab -->
        <div id="menu2" class="tab-pane fade">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Male</th>
                <th>Female</th>
                <th>Total</th>
                <th>BOR</th>
                <th>Last updated</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[12].get('BOR')) }}"
                  ></span>
                  SASMEC - ICU
                </td>
                <td>{{ dict_sheet[12].get('Availability_male') }}</td>
                <td>{{ dict_sheet[12].get('Availability_female') }}</td>
                <td>{{ dict_sheet[12].get('Availability_total') }}</td>
                <td>{{ dict_sheet[12].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[12].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[13].get('BOR')) }}"
                  ></span>
                  SASMEC - General
                </td>
                <td>{{ dict_sheet[13].get('Availability_male') }}</td>
                <td>{{ dict_sheet[13].get('Availability_female') }}</td>
                <td>{{ dict_sheet[13].get('Availability_total') }}</td>
                <td>{{ dict_sheet[13].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[13].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[14].get('BOR')) }}"
                  ></span>
                  Pahang MC
                </td>
                <td>{{ dict_sheet[14].get('Availability_male') }}</td>
                <td>{{ dict_sheet[14].get('Availability_female') }}</td>
                <td>{{ dict_sheet[14].get('Availability_total') }}</td>
                <td>{{ dict_sheet[14].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[14].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[15].get('BOR')) }}"
                  ></span>
                  Kuantan MC
                </td>
                <td>{{ dict_sheet[15].get('Availability_male') }}</td>
                <td>{{ dict_sheet[15].get('Availability_female') }}</td>
                <td>{{ dict_sheet[15].get('Availability_total') }}</td>
                <td>{{ dict_sheet[15].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[15].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[16].get('BOR')) }}"
                  ></span>
                  KPJ Pahang Sp
                </td>
                <td>{{ dict_sheet[16].get('Availability_male') }}</td>
                <td>{{ dict_sheet[16].get('Availability_female') }}</td>
                <td>{{ dict_sheet[16].get('Availability_total') }}</td>
                <td>{{ dict_sheet[16].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[16].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td>
                  <span
                    class="{{ bor_colors(dict_sheet[17].get('BOR')) }}"
                  ></span>
                  Darul Makmur MC
                </td>
                <td>{{ dict_sheet[17].get('Availability_male') }}</td>
                <td>{{ dict_sheet[17].get('Availability_female') }}</td>
                <td>{{ dict_sheet[17].get('Availability_total') }}</td>
                <td>{{ dict_sheet[17].get('BOR') }}%</td>
                <td>
                  {{ maxhours(dict_sheet[17].get('Last_updated')) }} hours ago
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
