<!DOCTYPE html>
<html lang="en">
	<head>
		<title>UCC Bed Monitor</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
      <h2>UCC Pahang Bed Monitor</h2>
      <h2>{{ update }}</h2>

      <h3>Pahang Hospital COVID-19 BOR {{ dict_sheet[21].get('BOR') }}%</h3>
      
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Government</a></li>
        <li><a data-toggle="tab" href="#menu1">Private</a></li>
        <li><a data-toggle="tab" href="#menu2">PKRC</a></li>
      </ul>
    
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>Government Hospital</h3>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Availability</th>
                <th>BOR</th>
                <th>Last updated (hours)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>HTAA</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>ICU</td>
                <td>{{ dict_sheet[0].get('Availability') }}</td>
                <td>{{ dict_sheet[0].get('BOR') }}%</td>
                <td>{{ dict_sheet[0].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>General</td>
                <td>{{ dict_sheet[1].get('Availability') }}</td>
                <td>{{ dict_sheet[1].get('BOR') }}%</td>
                <td>{{ dict_sheet[1].get('Last updated') }}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>H HOSHAS</td>
                <td>{{ dict_sheet[4].get('Availability') }}</td>
                <td>{{ dict_sheet[4].get('BOR') }}%</td>
                <td>{{ dict_sheet[4].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>H Pekan</td>
                <td>{{ dict_sheet[5].get('Availability') }}</td>
                <td>{{ dict_sheet[5].get('BOR') }}%</td>
                <td>{{ dict_sheet[5].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>H Muadzam Shah</td>
                <td>{{ dict_sheet[6].get('Availability') }}</td>
                <td>{{ dict_sheet[6].get('BOR') }}%</td>
                <td>{{ dict_sheet[6].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>H Jengka</td>
                <td>{{ dict_sheet[8].get('Availability') }}</td>
                <td>{{ dict_sheet[8].get('BOR') }}%</td>
                <td>{{ dict_sheet[8].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>H Kuala Lipis</td>
                <td>{{ dict_sheet[10].get('Availability') }}</td>
                <td>{{ dict_sheet[10].get('BOR') }}%</td>
                <td>{{ dict_sheet[10].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>H Bentong</td>
                <td>{{ dict_sheet[11].get('Availability') }}</td>
                <td>{{ dict_sheet[11].get('BOR') }}%</td>
                <td>{{ dict_sheet[11].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>H Raub</td>
                <td>{{ dict_sheet[12].get('Availability') }}</td>
                <td>{{ dict_sheet[12].get('BOR') }}%</td>
                <td>{{ dict_sheet[12].get('Last updated') }}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            </table>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3>Private Hospital</h3>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Availability</th>
                <th>BOR</th>
                <th>Last updated(hours)</th>
              </tr>
            </thead>
            <tbody>
		<tr>
                <td>UIA</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>ICU</td>
                <td>{{ dict_sheet[2].get('Availability') }}</td>
                <td>{{ dict_sheet[2].get('BOR') }}%</td>
                <td>{{ dict_sheet[2].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>General</td>
                <td>{{ dict_sheet[3].get('Availability') }}</td>
                <td>{{ dict_sheet[3].get('BOR') }}%</td>
                <td>{{ dict_sheet[3].get('Last updated') }}</td>
              </tr>
	      <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Pahang Medical Center</td>
                <td>{{ dict_sheet[14].get('Availability') }}</td>
                <td>{{ dict_sheet[14].get('BOR') }}%</td>
                <td>{{ dict_sheet[14].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>Kuantan Medical Center</td>
                <td>{{ dict_sheet[15].get('Availability') }}</td>
                <td>{{ dict_sheet[15].get('BOR') }}%</td>
                <td>{{ dict_sheet[15].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>KPJ Pahang Specialist</td>

                <td>{{ dict_sheet[16].get('Availability') }}</td>
                <td>{{ dict_sheet[16].get('BOR') }}%</td>
                <td>{{ dict_sheet[16].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>Darul Makmur Medical</td>
                <td>{{ dict_sheet[17].get('Availability') }}</td>
                <td>{{ dict_sheet[17].get('BOR') }}%</td>
                <td>{{ dict_sheet[17].get('Last updated') }}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            </table>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3>PKRC</h3>
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Availability</th>
                <th>BOR</th>
                <th>Last updated(hours)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>SUKPA</td>
                <td>{{ dict_sheet[18].get('Availability') }}</td>
                <td>{{ dict_sheet[18].get('BOR') }}%</td>
                <td>{{ dict_sheet[18].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>ILKKM Kuantan</td>

                <td>{{ dict_sheet[19].get('Availability') }}</td>
                <td>{{ dict_sheet[19].get('BOR') }}%</td>
                <td>{{ dict_sheet[19].get('Last updated') }}</td>
              </tr>
              <tr>
                <td>Penjara Bentong</td>
                <td>{{ dict_sheet[20].get('Availability') }}</td>
                <td>{{ dict_sheet[20].get('BOR') }}%</td>
                <td>{{ dict_sheet[20].get('Last updated') }}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            </table>
        </div>
      </div>
      </div>
    </body>
</html>

