<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UCC Pahang Bed Watcher</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container">
      <h2>UCC Pahang Bed Watcher</h2>
      <form action="/result" method="POST">
        <div class="form-group">
            <select class="form-control" name="pkrc">
                <option value="" disabled selected>Select your hospital</option>
                <option value="sukpa">SUKPA</option>
                <option value="illkkm">ILLKKM</option>
                <option value="ikpkt">I-KPKT</option>
                <option value="hjka">HJKA</option>
                <option value="kipsas">KIPSAS</option>
                <option value="penjara">Penjara Bentong</option>
            </select>
            <br/>
            <input class="form-control" type="number" name="a_male" placeholder="Male Bed Availability" autocomplete=off />
            <br/>
            <input class="form-control" type="number" name="a_female" placeholder="Female Bed Availability" autocomplete=off />
            <br/>
            <input class="form-control" type="password" name="passkey" placeholder="passkey" autocomplete=off />
            <br/>
            <input class="btn btn-block btn-success" type="submit" value="Submit" />
        </div>
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
